body{
    background-color: aliceblue;
}

h3{
text-align: center;
color: black;
margin-top: 10%;
}
h4{
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    margin-top: 2%;
    
}
h5{
    text-decoration: double;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    
}

.card {
    width: 500px; /* Ancho inicial de la carta */
    height: 200px; /* Ajusta la altura automáticamente según el contenido */
    padding: 10px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde de la carta */
    border-radius: 8px; /* Bordes redondeados */
    background-color: #fff; /* Fondo blanco */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para un efecto elegante */
}
.card:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
   
}
.container{
    margin-top: 5%;
    margin-left: 15%;
}

.container2{
    margin-top: 20%;
}

h1{
    font-size: 300%;
    font-family: 'Times New Roman', Times, serif;
}
.text1-start{
    font-size: 140%;
    margin-top: 10%;


}

.text-start{
    font-size: 140%;
    margin-left: 10%;
}
.demo3 {
    margin-top: 5%;

     }

     .demo2{
        margin-top: 5%;

     }

     .demo{
        margin-top: 20%;
     }

     .container3 {
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
       
      }